.d-data-table {
  $root: &;
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  th,
  td {
    padding: 20px 16px;
    text-align: left;
    border-top: 1px solid #e0e0e0;
  }

  th {
    font-weight: 600;
    color: #2f2f2f;
    white-space: nowrap;
  }

  td {
    color: #666;
  }

  &__checkbox-column {
    text-align: center;
  }
}
